/* .chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #ccc;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  align-items: center;
}

.input-container mat-form-field {
  flex: 1;
  margin-right: 10px;
}

.input-container button {
  min-width: 100px;
} */

.chat-container {
  display: flex;
  height: 100vh;
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}
